:root {
  --primaryColor: #FF6347;
  --backgroundColor: #eae9ea;
  --foregroundColor: #0d0a09;
  --secondaryColor: #8a8b8c;
  --pagePadding: 5svw
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100svh;
}