:root {
  --primaryColor: var(--mantine-primary-color-filled);
  --backgroundColor: var(--mantine-color-body);
  --foregroundColor: var(--mantine-color-text);
  --secondaryColor: #8a8b8c;
  --pagePadding: 5svw
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100svh;
}